<div class="container">
    <app-cockpit
        (serverCreated) = "onServerAdded($event)"
        (blueprintCreated) = "onBluePrintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="destroyComponent()">Destroy Component</button>
            <button class="btn btn-primary" (click)="checkOnChanges()">check OnChanges</button>
                 <app-server-element *ngFor="let serverElement of serverElements"
                 [serverElement] = "serverElement">
                    <p>
                        <strong *ngIf="element.type === 'server' " style="color:red">{{element.content}}</strong> 
                        <strong *ngIf="element.type === 'blueprint'">{{element.content}}</strong> 
                    </p>
                 </app-server-element>
            </div>
        </div>
    </div>
</div>